.hero {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
  margin-top: 1em;
}

.hero h1 {
  margin-top: 0;
  margin-bottom: 0.3em;
  text-align: center;
}

.chart-container {
  max-width: 800px;
  margin: 0 auto;
}
